
{:paths ["src" "target" "resources"]
 :deps {org.clojure/clojurescript {:mvn/version "1.10.773"}


        ;; Development tools
        com.bhauman/figwheel-main {:mvn/version "0.2.11"}
        ;; UI tools
        reagent/reagent {:mvn/version "1.0.0-alpha2"}
        reagent-utils/reagent-utils {:mvn/version "0.3.3"}
        re-frame/re-frame {:mvn/version "1.1.1"}
        json-html/json-html {:mvn/version "0.3.5"}
        cljs-pikaday/cljs-pikaday {:mvn/version "0.1.4"}
        clj-commons/secretary {:mvn/version "1.2.4"}
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"}

        ;; Sending requests
        day8.re-frame/http-fx {:mvn/version "0.2.1"}
        cljs-ajax/cljs-ajax {:mvn/version "0.8.1"}

        }

 :aliases {:fig
           {:main-opts ["-m" "figwheel.main"]}
           :test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           }
 }
